:root{
    --white: #ffffff;
    --cornflower: #E7E9FC;
    --IRISH: #4D5AE5;
    --NAVYBLUE: #2E2F42; 
    --SLATE: #434455;
    --CLOUD: #f4f4fd;
    --OCEAN:  #2B65EC;
    --LIGHTSLATE: #8e8f99;
    --DAIRY: #FCFCFC;

}

*{
    box-sizing: border-box;
    margin: 0;
   
   
}
body{
   
    font-family: 'Roboto' ,sans-serif;
}

/* ------GENERAL STYLING----- */

.list{
    list-style: none;
}

.list a{
    text-decoration: none;
    
}

.link{
    color: var(--NAVYBLUE);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ------END OF GENERAL STYLING------ */

/* -------NAV BAR STYLING-------- */



.about-nav :hover, .about:focus{
    color: var(--IRISH);
}
.about-link :hover, .about-link :focus{
    color: var(--IRISH);
}

.link:hover, .link:focus{
    color: var(--IRISH);
}

.contact-link:hover, .contact-link:focus{
    color: var(--IRISH);
}

.active{
    color: var(--OCEAN);
}

.active::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--IRISH);
    position: relative;
    top: 20px;
}

.contact-link{
    color: var(--SLATE);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.about-header{
    justify-content: space-around;
    align-items: center;
    
   
}
.desktop-container-list{
    height: 72px;
    display: flex;
    align-items: center;
}

.desktop-group{
    display: flex;
    align-items: center;
}

.mobileview-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
  
}
.mobile-menu-container{
    position: relative;
    height: 100%;
    padding: 40px;
}

.mobile-navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-menu{
    display: none;
    position: relative;
}

.mobile-link{
    font-size: 36px;
    text-decoration: none;
    font-weight: 700;
    color: var(--NAVYBLUE);
    margin-bottom: 40px;
    display: inline-block;
}

.mobile-address-link{
    color: var(--NAVYBLUE);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 48px;
}

.mobile-nav-list{
    list-style: none;
}

.mobile-active{
    color: var(--OCEAN);
}

.team-socials{
    display: flex;
    justify-content: space-around;
}

.team-socials-icon{
    background-color: var(--IRISH);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-socials-icon{
    fill: var(--white);
}




.about-nav{
    display:flex;
    gap: 40px;
}

.about-link{
    margin-left: auto;
    padding-left: 0;
}




.logo{
   
    text-decoration: none;
}

.logo-web{
    color: var(--IRISH);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio{
    color: var(--NAVYBLUE);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}



/* -------END OF NAV BAR STYLING-------- */






/* HERO BANNER STYLING */

.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 46, 66, 0.7)), url(../images/bg-photo.jpg);
    background-size: cover;
  
}



.hero-banner{
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 30%;
    
}

.hero-subtext{
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-transform: capitalize;
   
}


.hero-btn{
    background-color: var(--IRISH);
    border: none;
    border-radius: 4px;
    color: var(--white);
    padding: 16px 32px;
    cursor: pointer;
  
} 

 /* -----END OF HERO BANNER STYLING------ */

 /* -----MODAL STYLING----- */

  .backdrop{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal{
    width: 408px;
    /* height: 584px; */
    background-color: white;
    border-radius: 4px;
    padding: 24px;
   
} 

 .is-hidden{
    pointer-events: none;
    opacity: 0;
}
.modal-close-btn,
.js-close-menu
{
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 30px;
    height: 30px;
    color: var(--ocean);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}



/* -------END OF MODAL STYLING-------- */


 /* ------MODAL FORMS STYLING------- */

.form-title{
    display: block;
    margin-top: 20px;
    color: var(--NAVYBLUE);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}



.info-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
   
}

.input-info{
    text-align: left;
    margin-bottom: 8px;
   
}

.info-text-box{
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}

.icons{
    position: absolute;
    top: 55%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}



.info-text-box:focus + .icons,
.info-text-box:hover + .icons {
    fill: var(--IRISH);
}

.info-text-box:hover {
    border: 1px solid var(--IRISH);
}


.info-textarea{
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
} 


.approved-checkbox{
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    opacity: 0;
}

.approved-check-icon {
    fill: none;
    margin-right: 8px;
    border: 2px solid black;
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-box .approved-checkbox:focus + .approved-check-icon,
.info-box .approved-checkbox:checked:focus + .approved-check-icon {
    outline: 2px solid #212121;
}

.info-box .approved-checkbox:checked + .approved-check-icon {
    background-color: var(--IRISH);
    border-color: var(--IRISH);
    fill: var(--white);
    outline: none;
    stroke: var(--white);
    stroke-width: 0.2;
}



.submit-btn:hover {
    cursor: pointer;
}

 .info-box{
    display: flex;
    align-items: center;
    justify-content: center;
   
}



.info-box-text{
    font-size: 12px;

}



.submit-btn{
    margin-top: 15px;
    padding: 16px 32px;
    background-color: var(--IRISH);
    color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
     
} 

 /* -----END OF MODAL FORMS STYLING----- */


/* ------DISCRIPTION STYLING----- */

.discription{
    margin-top: 120px;
}

 /* .discription-box{
    margin-top: 120px;
    flex-shrink: 0;
 } */

 .discription-list{
    display: flex;;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    flex-wrap: wrap;
    
} 

.caption{
    width: 264px;
    color: var(--NAVYBLUE);
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    margin-top: 20px;
}

.caption-name{
    width: 264px;
    height: 72px;
    color: var(--SLATE);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.discription-icons{
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--CLOUD);
    padding: 24px 100px;
    border-radius: 4px;
} 

/* ------DISCRIPTION STYLING END------- */

    /* -----SAMPLE PHOTOS STYLING------- */

    .sample-photos{
         margin-top: 120px;       
    } 


    .head-title{
        display: flex;
        justify-content: center;
        text-align: center;
        color: var(--NAVYBLUE);
        font-family: 'Roboto';
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .group-photos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 72px;
        gap: 24px;
        flex-wrap: wrap;
    } 

    /* -----SAMPLE PHOTOS STYLING END-----  */

    /* TEAM MEMBERS STYLING  */

       .our-team-section{
        margin-top: 120px;
        padding-top: 120px;
        padding-bottom: 120px;
        background: var(--CLOUD);
       }  

    
       
      
    .members-title{
        padding-bottom: 50px;
        text-align: center;
        color: var(--NAVYBLUE);
        font-family:'Roboto';
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

     


    .team-members-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;     
    }


    .members{
       background: var(--white);
       /* width: 260px; */
       /* height: 104px; */
       padding: 32px 0px;
    }


    .members-name{
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 500;
        margin: 0;
        letter-spacing: 0.4px;
        padding: 8px 0px;
    }

    .members-account{
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .soc-med{
        width: 40px;
        height: 40px;
        background-color: var(--IRISH);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;      
    }

    .soc-med svg{
        fill: var(--CLOUD);
    } 

    /* TEAM MEMBERS STYLING END  */

    /* ---CUSTOMERS STYLING---- */

     .customers{
      margin-top: 120px;
    }

   
    .customer-title{
        color: var(--NAVYBLUE);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        padding-left: 50px;
        padding-bottom: 50px;
      
    }

    .customer-icon {
        border: 1px solid #8e8f99;
        padding: 16px 0;
        text-align: center;
        border-radius: 4px;
    }
    
    .customer-icon svg {
        fill: #8e8f99;
    }
    
    .customer-icon:hover,
    .customer-icon:focus {
        border-color: var(--IRISH);
    }
    
    .customer-icon:hover svg,
    .customer-icon:focus svg {
        fill: var(--IRISH);
    }
    

   .customer-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
   }

   /* .icons-borders{
    width: 168px;
    height: 88px;
   } */
   /* .icons-borders svg{
    width: 168px;
    height: 88px;
    padding: 16px 32px;
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--SLATE);
    fill: var(--LIGHTSLATE);
   }  */
   /* .customer-icon{
    flex-wrap: wrap;
   } */
    
   /* ---END OF CUSTOMER STYLING----  */

    /* -----FOOTER SECTION STYLING-----  */

    .footer-parent{
        margin-top: 120px;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: var(--NAVYBLUE);       
    }

    .footer-collection{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       row-gap: 72px;
       

       
    }

    /* .footer-text{
        width: 264px;
        height: 112px;
        border: 1px solid var(--white);
    } */
    

    .footer-text-logo{
        /* display: inline-flex; */
        /* width: 115px;
        height: 24px; */
        text-decoration: none;
        margin-right: 0;
       
    }

    .footer-web-text{
        width: 44px;
        height: 21px;
        color: var(--IRISH);
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 1.3em;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    .footer-studio-text{
        width: 71px;
        height: 21px;
        color: var(--CLOUD);
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 1.3em;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    .footer-caption{
        width: 264px;
        height: 72px;
        color: var(--CLOUD);
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: o.32px;
    }

    

   
   

    /* ------END OF FOOOTER STYLING------- */

    /* ------SOCMED STYLING--------- */
/* 
    .soc-med-parent{
       
    } */

    .soc-med-text{
        margin-top: 0;
        color: var(--white);
        /* color: var(--white);
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.32px; */
    }

    .soc-med-sub-parent{
        display: inline-flex;
        width: 208px;
        height: 40px;
        gap: 16px;
    }

    .soc-med-icons{
      width: 40px;
      height: 40px;
      background-color: var(--IRISH);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; 
    }

    .soc-med-icons svg{
        fill: var(--white);
    }

    /* ------END OF SOCMED STYLING----- */

    /* ---------SUBSCRIBE STYLING--------- */

   
   
    .subscribe-text-footer{
        margin-top: 0;
        color: var(--white);
       
    }

    .input-email-footer{
        border: 2px solid var(--white);
        background: none;
        border-radius: 4px;
        padding: 10px;
        width: -webkit-fill-available;
        background-color: none;
        margin-bottom: 24px;
       
    }

    .input-email-footer::placeholder {
        color: white;
    }
    

    .btn-sub{

         display: inline-flex;
        align-items: center;
        color: white;
        padding: 8px 24px;
        gap: 16px;
        background-color: var(--IRISH);
        border: none;
        border-radius: 4px;
        background-color: var(--IRISH) 
      
    }

    .btn-sub svg{
        fill: var(--white);
       
    }

    

   


   

   
/* END OF  SUBCRIBE FOOTER STYLING */

   /* PORTFOLIO BUTTON STYLING SECTION  */

   
   .portfolio-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
    gap: 24px;
    flex-wrap: wrap;
 }

 .website-btn{
   color: var(--IRISH);
   font-family: 'Roboto' sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5em;
   letter-spacing: 0.64px;
   border: 1px solid var(--CLOUD);
   border-radius: 4px;
   padding: 12px 24px;
 }

 .app-btn{
   color: var(--IRISH);
   font-family: 'Roboto' sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5em;
   letter-spacing: 0.64px;
   border: 1px solid var(--CLOUD);
   border-radius: 4px;
   padding: 12px 24px;
 }

 .design-btn{
   color: var(--IRISH);
   font-family: 'Roboto' sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5em;
   letter-spacing: 0.64px;
   border: 1px solid var(--CLOUD);
   border-radius: 4px;
   padding: 12px 24px;
 }

 .marketing-btn{
   color: var(--IRISH);
   font-family: 'Roboto' sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5em;
   letter-spacing: 0.64px;
   border: 1px solid var(--CLOUD);
   border-radius: 4px;
   padding: 12px 24px;
 }

 .all-btn{
   background-color: var(--OCEAN);
   color: var(--white);
   padding: 12px 24px;
   border-radius: 4px;
 }


 

 .portfolio-cards{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 72px;
  padding: 0;
 }

 /* .cards{
  width: 30%;
 } */
 .cards-title{
  color: var(--NAVYBLUE);
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.4px;
  padding-left: 16px;
  padding-right: 16px;
 }

 .cards-caption{
  color: var(--SLATE);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  
 }

 .cards{
 
  gap: 32;
  border: 1px solid var(--cornflower);
  background: var(--white);
  flex-wrap: wrap;
 }

 .card-captions{
  position: absolute;
  background-color: rgba(77,90,229.1);
  color: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
 }

 .cards-list{
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  flex-wrap: wrap;
 }

 .cards:hover .card-captions{
  opacity: 0.7;
  transform: translateY(0);

 }

 .card-captions p{
  padding: 40px 32px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
 }

   

  
   /* ----media queries-- */
 /* ----MOBILE VIEW----- */
@media (min-width: 428px){
    .container{
        width: 428px;
    }
   .email-subbtn-form{
    text-align: center;
   }
}

.footer-text{
    text-align: center;
}

.soc-med-text{
    text-align: center;
}

.subscribe-text-footer{
    text-align: center;
}
 

@media  (min-width: 768px){
    .container{
        width: 768px;
       }
      
      .cards{
        flex-basis: calc(100% / 2 -30px);
      }
    
        .mobile-view,
        .js-close-menu {
            display: none;
        }
        
       
         .portfolio-cards{
            flex-basis: calc(100% / 3  );
        
         }
        .desktop-group{
            padding: 0;
        }
    
        .tag-discription
        .team-group {
            flex-basis: calc(100% / 1 - 30px);
        }
    
        .customer-icon {
            flex-basis: calc(100% / 2 - 30px);
        }
    
        /* .footer-collection{
            text-align: center;
        } */
       

        .input-email-footer {
            width: 264px;
            margin-right: 24px;
           
            
        }
        
}



@media (min-width: 1200px) {
    .about-link {
        display: flex;
        column-gap: 30px;
    }

    .container {
        width: 1200px;
    }

   
    .desktop-container-list{
       display: flex;
       align-items: center;
    }
    .mobile-view{
        display: none;
    }

    
    .team-group {
        flex-basis: calc(100% / 4 - 30px);
    }

    .customer-icon {
        flex-basis: calc(100% / 6 - 30px);
    }
}

 @media (max-width: 767px) {
    .desktop-view {
        display: none;
    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }

    .js-close-menu {
        position: absolute;
        top: 10px;
        right: 25px;
    }

    
    .mobile-menu {
        top: 0;
        display: block;
        height: 100vh;
        width: 100%;
        position: fixed;
        background-color: white;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sample-photos {
        display: none;
    }

    .tag-discription .caption {
        font-size: 36px;
        margin-bottom: 8px;
    }
    .about-it {
        margin-top: 0;
    }

    .discription-icons {
        display: none;
    }

    .footer-collection {
       justify-content: center;
      
    
}
  
} 
    
 


 @media (max-width: 427px) {
    .hero-text {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
    }
    .footer-collection{
        text-align: center;
    }

    .caption {
        text-align: center;
    }
} 